---
layout: default
title: 404
permalink: /404.html
---
<style>
    .newsletter, .footer {
        display:none;
    }
</style>
<div class="text-center">
<h1 class="mt-5"><span class="badge badge-dark font-weight-normal">404</span></h1>
<h1 class="display-1 mt-4 mb-4"> Pagina no encontrada!</h1>
<p>Pódes buscar en la lupa un contenido o volver a la <a href="{{site.baseurl}}/">homepage</a>!</p>
</div>
