---
layout: default
title: Home
---
<!-- imagen biblio
​<picture>
  <source srcset="assets/images/pulpo.png" type="image/svg+xml">
  <img src="assets/images/pulpo.png" class="img-fluid img-thumbnail" alt="...">
</picture>
-->
<!-- Posts Index
==================================================-->

<!--<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>-->

<!-- Pagination
==================================================-->
<!--<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>-->
