---
layout: default
title: Home
background: /assets/images/background/fondo-0.png
---

<div class="row mb-5">
    <div class="col-md-8 ">
        <a href="{{ site.url}}/biblioteca"><img class="pulpo" src="assets/images/osmior-pulpo.gif" alt="osmiornica gif"/></a>
    </div>
    <div class="col-md-4 d-flex">
        <div class="row">
            <picture >
            <img class="logo-home" src="assets/images/logo-txt.png" alt="osmiornica gif"/>
            </picture>
        <div class="align-items-end d-flex">
            <picture >
            <img class="hand mb-8" src="assets/images/hand-opt.gif" alt="hand gif"/>
            </picture>
        </div>
        </div>
    </div>
</div>
