---
layout: default
title: Talleres
comments: false
imageshadow: true
background: /assets/images/background/fondo-2.png
---
<h1 class="soft mb-4">Los talleres que  vienen</h1>
<section>
    <div class="owl-carousel owl-theme">
    {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% if postStartDate >= curDate and post.categories contains "taller" %}
              {% include postbox-carousel.html %}
    {% endif %}
        {% endfor %}
        </div>
</section>
<h1 class="soft mb-4" >Talleres en curso</h1>
<section>
    <div class="blog-grid-container">
    {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% assign postEndDate = post.end | date: '%s' %}
    {% if postStartDate <= curDate and post.categories contains "taller" %}
    {% unless postEndDate <= curDate %}
              {% include postbox-carousel.html %}
    {% endunless %}
    {% endif %}
        {% endfor %}
        </div>
</section>

<h1 class="soft mb-4" >Talleres que pasaron</h1>
<section>
    <div class="blog-grid-container img-gray">
    {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
    {% assign postStartDate = post.end | date: '%s' %}
    {% if postStartDate <= curDate and post.categories contains "taller" %}
              {% include postbox-carousel.html %}
    {% endif %}
        {% endfor %}
        </div>
</section>
