<!-- Author Box -->
{% if page.author %}
{% if site.authorbox == "enabled" %}
<div class="d-flex authorbox align-items-center">
    <div class="col-md-2 mr-4 text-center">
        {% if author.avatar %}
        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
        {% else %}
        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
        {% endif %}
    </div>
    <div class="col-md-10">
        <a target="_blank" class="text-dark h4" href="{{ author.web }}">Sobre {{ author.display_name }}</a>
        <a target="_blank" href="{{ author.twitter }}" class="btn-sm"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="{{ author.instagram }}" class="btn-sm"><i class="fab fa-instagram"></i></a>
        <span class="author-description d-block mt-2">{{ author.description }}</span>
    </div>
</div>
{% endif %}
{% endif %}
