
<!-- Posts Index
================================================== -->

    {% for post in paginator.posts %}
            {% if post.categories contains "novedades" %}

            <div class="entry-header">
            <h1><a class="dark-a" href="{{ post.url }}">{{ post.title }}</a></h1>
                <!-- Author & Date  Box -->
                {% assign author = site.authors[post.author] %}
                {% if post.author %}
                <div class="d-flex align-items-center mt-4">
                    <div>
                        {% if author.avatar %}
                        <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                        {% else %}
                        <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                        {% endif %}
                    </div>
                    <div>
                    Escrito por <a target="_blank" class="text-dark" href="{{ author.post }}">{{ author.display_name }}</a> el
                    <span class="post-date"><time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time></span>
                    </div>
                </div>
                {% endif %}
            </div>


            <div class="entry-header">
                <!-- Post Title -->
                {% if post.image %}
                <div class="entry-featured-image">
                    {% if site.lazyimages == "enabled" %}
                    <img class="featured-image lazyimg {% if post.imageshadow %} image-shadow {% endif %}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                    <img class="featured-image {% if page.imageshadow %} image-shadow {% endif %}" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% endif %}
                </div>
                {% endif %}

            </div>

            <!-- Adsense under title if enabled from _config.yml (change your pub id and slot) -->
            {% if site.adsense == "enabled" %}
                {% include adsense-under-header.html %}
            {% endif %}
            <!-- Featured Image -->
            {% include featured-image.html %}
              {{ post.content }}
            {% endif %}
    {% endfor %}


<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
