<div class="col mt-5">
    <div class="row">
        <div id="padre" class="w-movil">
            <img id="botonestrella" src="{{ site.baseurl }}/assets/images/boton-b-150.png">
        <div class="btn-estrella"><a href="{{ post.donacion-1 }}">$250</a></div>
        </div>
        <div id="padre" class="w-movil">
            <img id="botonestrella" src="{{ site.baseurl }}/assets/images/boton-b-150.png">
        <div class="btn-estrella"><a href="{{ post.donacion-2 }}" >$500</a></div>
        </div>
        <div id="padre" class="w-movil">
            <img id="botonestrella" src="{{ site.baseurl }}/assets/images/boton-b-150.png">
        <div class="btn-estrella"><a href="{{ post.donacion-3 }}" >$1000</a></div>
        </div>
        <div id="padre" class="w-movil">
            <img id="botonestrella" src="{{ site.baseurl }}/assets/images/boton-b-150.png">
        <div class="btn-estrella"><a href="{{ post.donacion-4 }}" >$1500</a></div>
        </div>
    </div>
</div>
