<section class="section-home">
    <div class="blog-grid-home">
    {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% if postStartDate <= curDate and post.categories contains "novedades" or "evento" or "taller" %}
              {% include postbox-home.html %}
    {% endif %}
        {% endfor %}
        </div>
</section>
