
<div id="padre" class="w-movil-b mb-5">
    <img class="biblioteca" id="botonestrella h-100" src="{{ site.baseurl }}/assets/images/boton-n.png">
<div class="btn-estrella"><a class="soft" href="{{ site.baseurl }}/contacto">Inscripción</a></div>
</div>
