<nav class="navbar navbar-expand-sm mr-auto navbar-default">
    {% assign navurl = page.url | remove: 'index.html' %}
    <a class="logo" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <ul class="navbar-nav">
    {% for item in include.nav %}
    	<li class="nav-item">
    		<a class="nav-link" href="{{ item.url }}">
    			{% if item.url == navurl %}
    				<b>{{ item.text }}</b>
    			{% else %}
    				{{ item.text }}
    			{% endif %}
    		</a>
    	</li>
    	{% if item.subitems and navurl contains item.url %}
    		{% include nav.html nav=item.subitems %}
    	{% endif %}
    {% endfor %}
    </ul>
</nav>
