<nav class="navbar navbar-expand-sm mr-auto navbar-default">
    {% assign navurl = page.url | remove: 'index.html' %}
    <a class="logo" href="{{ site.url }}/">
    {% if page.background == '/assets/images/background/fondo-2.png' %}
            <img src="{{ site.url }}/{{ site.logo-w }}" alt="{{ site.name }}">
    {% else%}
            <img src="{{ site.url }}/{{ site.logo }}" alt="{{ site.name }}">
    {% endif %}
    </a>

    <a class="iso nav-logo" href="{{ site.url }}/">
        <img src="{{ site.url }}/{{ site.iso }}" alt="{{ site.name }}">
    </a>
    <ul class="navbar-nav">
    {% for item in include.nav %}
    	<li class="nav-item">
            <a class="nav-link" href="{{ item.url }}">
                {% if item.url == navurl %}
                <b class="taller" >{{ item.text }}</b>
                {% else %}
                {{ item.text }}
                {% endif %}
            </a>
        </li>
        {% if item.subitems and navurl contains item.url %}
        {% include nav.html nav=item.subitems %}
        {% endif %}
    {% endfor %}
    </ul>
</nav>
