<nav>
    {% assign navurl = page.url | remove: 'index.html' %}
    <ul>
    {% for item in include.nav %}
    	<li class="navLink">
    		<a class="a-clean" href="{{ item.url }}">
    			{% if item.url == navurl %}
    				<b>{{ item.text }}</b>
    			{% else %}
    				{{ item.text }}
    			{% endif %}
    		</a>
    	</li>
    	{% if item.subitems and navurl contains item.url %}
    		{% include nav.html nav=item.subitems %}
    	{% endif %}
    {% endfor %}
    </ul>
    <ul>
        <li><a class="a-clean " href='https://webring.xxiivv.com/#random' target='_blank'>/<img class="noborder" style="width: 20px;" src='https://webring.xxiivv.com/icon.black.svg'/></a>/</li>
    </ul>
</nav>
