<div class="blog-grid-item-home mb-5">
    <div class="card-home h-100">
        <a class="soft oval " href="{{ site.baseurl }}{{ post.url }}"> {{ post.categories }} </a>
        <div class="maxthumb mt-4">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}

                    {% if site.lazyimages == "enabled" %}
                        <img class="img-thumb lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-thumb" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="soft" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </h2>
            <!-- Tags -->
            {% assign sortedTags = post.tags | sort %}
            {% for tag in sortedTags %}
            <a class="smoothscroll badge badge-primary text-capitalize" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">{{ tag }}</a>
            {% endfor %}
                <div class="col">

                    <li><span class="soft mx-auto">Coordina {{ post.author }}</span></li>
                    <li><span class="post-date soft mx-auto">{{ post.date | date_to_string }}</span></li>

                </div>

                <div class="col">
                    <div id="padre">
                        <img id="botonestrella" src="{{ site.baseurl }}/assets/images/boton-w-100.png">
                    <div class="btn-estrella"><a href="{{ site.baseurl }}{{ post.url }}" class="dark-a">+Info</a></div>
                    </div>
                </div>

        </div>
    </div>
</div>
