<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="blog-grid-item soft">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if post.image %}

                    {% if site.lazyimages == "enabled" %}
                        <img class="img-thumb lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% else %}
                        <img class="img-thumb" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}" alt="{{ post.title }}">
                    {% endif %}

                {% endif %}
            </a>
        </div>
        <div class="card-body soft">
            <h2 class="card-title ">
                <a class="soft" href="{{ site.baseurl }}{{ post.url }}"><h1>{{ post.title }}</h1></a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                {% include star_rating_postbox.html %}
                </div>
                {% endif %}

            </h2>
            <div class="card-footer soft">
                <div class="wrapfooter">
                    {% if post.author %}
                    <span class="meta-footer-thumb">
                    {% if author.avatar %}
                    <img class="author-thumb" src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}">
                    {% else %}
                    <img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}">
                    {% endif %}
                    </span>
                    <span class="author-meta">
                    <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span>
                    {% endif %}

                    <span class="post-date"> Comieza el {{ post.date | date: "%d/%m/%Y"}}</span>
                    </span>
                <!--    <span class="post-date"> {{ post.date | date_to_string }}</span>
                    </span>-->

                    <div class="clearfix"></div>
                </div>
            </div>
                <h4 class="card-text">{{ post.beforetoc | strip_html | truncatewords:30 }}</h4>
            <h4 class="card-text">{{ post.excerpt | strip_html | truncatewords:30 }}</h4>
            <div id="padre">
                <img id="botonestrella" src="{{ site.baseurl }}/assets/images/boton-w-120.png">
            <div class="btn-estrella"><a href="{{ site.baseurl }}{{ post.url }}" class="dark-a">+Info</a></div>
            </div>
        </div>

    </div>
</div>
<!-- end post -->
