
<script src="{{ site.baseurl }}/assets/js/owl.carousel.js"></script>
{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}
<script type="text/javascript">
$(document).ready(function() {
        // Transition effect for navbar
        $(window).scroll(function() {
          // checks if window is scrolled more than 60px, adds/removes solid class
          if($(this).scrollTop() > 20) {
              $('.navbar').addClass('solid');
			  $('.navbar .logo img').attr('src','/assets/images/logo-txt-w.png');
			  $('.nav-icon .hamburger-bar').addClass('h-dark');
			  $('.show-search').addClass('h-dark');
          } else {
              $('.navbar').removeClass('solid');
			  $('.navbar .logo img').attr('src','/assets/images/logo-txt.png');
			  $('.nav-icon .hamburger-bar').removeClass('h-dark');
			  $('.show-search').removeClass('h-dark');
          }
        });
});
</script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        autoplay:true,
        autoplayTimeout:9000,
        nav: true,
        navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
        responsive:{
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
        }
    })
    </script>
