<script src="{{site.baseurl}}/assets/js/lunr.js"></script>

<style>

</style>
	{% if page.background == '/assets/images/background/fondo-2.png' %}
<div class="wrap-search n-wrap-search">
	{% else%}
<div class="wrap-search">
    {% endif %}
        <div class="d-flex align-items-center ml-auto">

        <form class="bd-search mr-3" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
            <input type="text" class="form-control bigradius text-small launch-modal-search" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Escribí + enter"/>
        </form>
        <i class="fas fa-search show-search"></i>
    </div>
</div>

<div id="lunrsearchresults">
    <ul></ul>
</div>

<script src="{{site.baseurl}}/assets/js/lunrsearchengine.js"></script>
