<div class="col mt-5">
    <div class="share">
        <p>
            Share
        </p>
        <ul>
            <li class="ml-1 mr-1">
                <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>

            <li class="ml-1 mr-1">
                <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>

            <li class="ml-1 mr-1">
                <a target="_blank" href="hhttps://t.me/share/url?url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                    <i class="fab fa-telegram"></i>
                </a>
            </li>

        </ul>
    </div>

</div>
