---
layout: page
title: Contacto
comments: false
background: /assets/images/background/fondo-4.png
---
<h2 id="osmiornica-biblioteca">OSMIORNICA Biblioteca</h2>
<h4 id="laberinto-casa-club-13-1293-la-plata-buenos-aires">Laberinto casa club - 13 #1293, La Plata, Buenos Aires</h4>
<ul>
<li>IG: <a class="dark-a" href="{{ site.instagram }}">@osmiornicabiblioteca</a></li>
<li>FB: <a class="dark-a" href="{{ site.facebook }}">osmionricabiblioteca</a></li>
<li>TW: <a class="dark-a" href="{{ site.twitter }}">obiblioteca</a></li>
</ul>


<form action="https://formspree.io/f/mpzoleyy" method="POST">
    <p class="mb-4">Escribinos!</p>
        <div class="form-group row">
        <div class="col-md-6">
            <input class="form-control" type="text" name="name" placeholder="nombre o alias*" required>
        </div>
        <div class="col-md-6">
            <input class="form-control" type="email" name="_replyto" placeholder="E-mail*" required>
        </div>
</div>
<textarea rows="8" class="form-control mb-3" name="message" placeholder="Mensaje*" required></textarea>
<input class="btn btn-dark mb-5" type="submit" value="Send">
</form>
