---
layout: biblioteca
title: la Biblioteca
comments: false
background: /assets/images/background/fondo-3.png
---

<blockquote>
<p>¡Bienvenidzs a la biblioteca Osmiornica*!</p>
</blockquote>
<p>Lo que vendrá a continuación, después de la fecha de esta publicación, serán textos que se reúnen en este espacio común de biblioteca. Como canal virtual para poder proyectar sobre la web las ideas, discusiones e impresiones que aquí se encuentran y debaten esta propuesta es de extensión de un espacio físico y de cuerpos físicos, voces de quienes escriben y que pertenecen a un común minoritario, eso creemos. La biblioteca se rige bajo la ley de solidaridad de los solitarizs, pueden recordar esto y permitir q resuene en los textos o en las visitas cuando suceda.</p>
<p>Las condiciones que hicieron posible la biblioteca no parten de nociones como voluntarismo ni mérito, aunque también sería sencillo y anodino llamarle simplemente privilegios. Una inevitable atracción hacia los márgenes del pensamiento nos atrae aquí, por qué? porque creemos q dónde el pensamiento actúa la crítica es más filosa, no lo creemos, nos es inevitable así cómo creer en nosotrzs para sobrevivir.</p>
<p>No somos una biblioteca pública, sí abierta, pero no regida por parámetros estatales ni valores ciudadanos, nuestras leyes son otras y se las irán encontrando al andar. Lzs lectorzs son tanto quienes vienen y se llevan libros extensos para leer, como quienes pasan a hacer lecturas salteadas, a revisar tapas, leer e imprimir fanzines, o leer twits, posteos, memes, música o contar o escuchar una historia.</p>
<p>Si vas a andar por La plata (Bs As, Argentina) recordá nuestro horario para visitarnos, si sos de la ciudad o alrededores tb podés asociarte.</p>
<p>LES ESPERAMOS!</p>
<p>*La biblioteca Osmiornica no recibe subsidios y se sostiene a partir de donaciones de particulares. Para realizar una donación u otras propuestas: osmiornicabiblioteca@gmail.co</p>
<h1 id="-c-mo-hacerte-socie-">¿Cómo hacerte socie?</h1>
<p>No somos una biblioteca pública, sí abierta, pero no regida por parámetros estatales ni valores ciudadanos, nuestras leyes son otras y se las irán encontrando al andar. Lzs lectorzs son tanto quienes vienen y se llevan libros extensos para leer, como quienes pasan a hacer lecturas salteadas, a revisar tapas, leer e imprimir fanzines, o leer twits, posteos, memes, música o contar o escuchar una historia.</p>
<p>Si vas a andar por La plata (Bs As, Argentina) recordá nuestro horario para visitarnos, si sos de la ciudad o alrededores tb podés asociarte.</p>
<p>LES ESPERAMOS!</p>
