---

---
$osmi1: #EFA37E;
$osmi2: #F4C2C7;
$osmi3: #77959F;


$brown: #B59F62;
$teal: $osmi1;
$black: #111;
$primary: $teal;
$dark:    $black;
$enable-rounded: false;
$soft: #f4f4f4;

@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'stars';
@import 'calendar.css';

#osmiornica-biblioteca{
    font-family: Coeval,Arial,sans-serif;
}
.taller{
    color: $osmi1
}
.novedades-2{
    color: $osmi2
}
.eventos-3{
    color: $osmi3
}
.img-gray {
    -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
}
/*hover taller*/
.taller figure {
	background: #c061cb;
}
.taller figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.taller figure:hover img {
	opacity: .5;
}
/*hover eventos*/
.evento figure {
	background: #f6d32d;
}
.evento figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.evento figure:hover img {
	opacity: .5;
}

.owl-dots{
    color: $soft;
}
.logo{
    img{
        height: 50px;
      display: none
    }
}
.iso{
    img{
        height: 35px;
        width: 35px;
    }
}
.osmi{
    max-width: 25%;
    }

.hand{
    position:absolute;
    top: 60%;
    right:10px;
}
.book{
    position: absolute;
    bottom:150px;
    right:1px;
}
.biblioteca{
    width: 250px;
}
// general
body, input, button, select, optgroup, textarea {
    font-family:Sen;
}

body {
    line-height:1.7;
  color: $dark;

}

h1{
    font-family: Coeval,Arial,sans-serif;
    font-size: 1.6rem;
}


a {
    color: lighten($primary, 2%);
}
.soft {
    color: $soft;
}
.dark-a{
    color: $dark;
}
.hamburger-bar.h-dark{
    &:before, &:after {
        content: '';
        position: absolute;
        background: $soft !important;
    }
}

.soft-menu{
    background: $soft;
}
.dark {
    background: $dark;
    h1, p {
    color: $soft;
    }
}
.alpha {
    background: none;
}
img {
    max-width:400px;
    height:auto;
}


@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}
.navbar {
    position: fixed;
    top: 0;
    background: $dark;
    height: 50px;
    width: 100%;
    z-index: 100;
    justify-content: center!important;
    a {
        color: $soft;

 }

}
.nav-logo {
    position: fixed;
    left: 10px;
    top: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1026;
}
.pulpo {
    max-width: 70%;
}

/* nav */
.navbar-default {

   .navbar-brand {

      &:hover {
         color: $dark;
         border: 1px solid $dark;
      }
   }

  .navbar-nav {

    > li {

      > a {
        color: $soft;
        margin: 10px 5px 5px 5px;

      }
      > a:hover, > a:active, > a:focus {
        color: $osmi1;

      }


    } //end li

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: $osmi1;
      }

    }

  } //end .navbar-nav

  //Collapsed styles
  .navbar-toggle {
    border-color: $dark;

      &:hover, &:focus {
        background-color: $osmi2;
      }



      .icon-bar {
        color: $dark;
        background-color: $dark;

      }
  }

  .navbar-collapse.collapse.in ul {
    background-color: $osmi2;
  }

} //end .navbar-default



/* Solid class attached on scroll past first section */

.navbar.solid {
  background-color: $dark;
  transition: background-color 0.1s ease 0s;



    .navbar-brand {
      color: $dark;
      transition: color 0.01s ease 0s;
    }

    .navbar-nav {

       > li {

          > a {
            color: $soft;
            transition: color 1s ease 0s;
          }

       } //end li

    } //end .navbar-nav

}
/*botonlink*/
#botonestrella {
}

#padre {
  position: relative;    /* para poder posicionar el texto de forma absoluta */
  display: inline-block; /* para que solo ocupe el ancho de la imagen */
    left:0;
}

.btn-estrella {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $soft;
  transform: translate(-50%, -50%);
}

h1,h2,h3,h4,h5,h6 {
    font-weight:500;

}
.site-content {
    padding-top:90px;
}

.site-back {
        background: $dark;
}
.sitetag {
    font-weight:700;
    line-height:1.3;
    font-size:35px;
    @include media-breakpoint-up(sm) {
        font-size:50px;
        line-height:1.2;
    }
}
.bigradius {
    border-radius: 40px;
}
.mb-neg-30 {
    margin-bottom:-30px;
}
.btn {
    min-width: 180px;
}
blockquote {
    font-family: Times New Roman;
    font-style: italic;
    font-size: 20px;
    position:relative;
    border-left:1px solid $dark;
    margin-left:30px;
    padding-left:15px;
    cite {
        font-weight:700;
    }
}
// animation
.nav-icon,
.hamburger-bar,
.hamburger-bar:before,
.hamburger-bar:after,
#menu,
body,
a,
a:hover,
body.active-side,
.site-content,
.show-search, .show-search:hover,
.title, .title:hover,
.card, .card:hover,
img, img:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.featured-image, .firstpage .blog-grid-item:nth-child(1), .firstpage .blog-grid-item:nth-child(2), .firstpage .blog-grid-item:nth-child(3) {
    animation: fade-up 0.7s ease-out forwards running;
}
// menu
.navbar-brand img {
    max-height:220px;
    margin-bottom:40px;
    margin-top:90%;
}
.sidebar {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 80px;
    height: 100%;
    border-right: solid rgba(0, 0, 0, 0.07) 1px;
    z-index: 1022;
}

.nav-icon {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1026;
    .hamburger-bar {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        &:before, &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
        /*    background: $soft;*/
            border-radius: 1px;

        }
        &:before {
            transform: rotate(0deg) translate(0px,-5px);
            background: $soft;
        }
        &:after {
            transform: rotate(0deg) translate(0px,5px);
            background: $soft;
        }
    }
    &.active {
        .hamburger-bar {
            &:before {
                transform: rotate(-45deg) translate(0px,0px);
                background: $soft;
            }
            &:after {
                transform: rotate(45deg) translate(0px,0px);
                background: $soft;
            }
        }
    }
}

.n-soft {
    .hamburger-bar {
        &:before, &:after {

            background: $soft!important;
        }
        &:before {
            transform: rotate(0deg) translate(0px,-5px);
            background: $soft;
        }
        &:after {
            transform: rotate(0deg) translate(0px,5px);
            background: $soft;
        }
    }
    &.active {
        .hamburger-bar {
            &:before {
                transform: rotate(-45deg) translate(0px,0px);
                background: $soft;
            }
            &:after {
                transform: rotate(45deg) translate(0px,0px);
                background: $soft;
            }
        }
    }
}
.n-wrap-search{
    .fa-search{
        color: $soft!important;
    }
}

.blackover {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(8, 11, 16, 0);
    z-index: -1;
    animation: animate2 .3s;
    &.active {
            z-index: 4;
            background: rgba(8, 11, 16, 0.7);
            animation: animate .3s;
    }
}
#menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 420px;
    background: #000;
    padding: 0;
    margin: 0;
    transform: translate(100%, 0);
    z-index: 1022;
    &.active {
        transform: translate(0%, 0);
    }
    ul {
        float: right;
        width: 100%;
        padding: 80px 30px 80px 100px;
        h3 {
            margin-bottom:30px;
                color: $soft;
        }
        li {
            list-style: none;
            width: 100%;
            a {
                width: 100%;
                display: inline-block;
                padding: 2vh 0px 2vh 0px;
                line-height: 20px;
                text-decoration: none;
                color: $osmi2;
                font-weight: 400;
                font-size: 18px;
                position: relative;
            }
        }
    }
}
//home
.blog-grid-home {
    width: auto;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    text-align: center;
    font-family: Coeval,Arial,sans-serif;
}
.blog-grid-item-home {
    padding: 0;
    display: flex;
    align-items:center;
    .author-thumb {
        width:40px!important;
        border-radius:10%;
        margin-right: 7px;
    }
    .card {
        background-color: transparent;
        flex-direction: column;
        border:0;
        &:hover {
           .card-title a {
                background-size: 100% 100%;
            }
        }
    }
    .card-body {
        background: transparent;
    }
    .card-title {
        font-weight:700;
        font-size:22px;
        line-height:1.4;
        a {
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .6s ease;
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        font-weight:400;
        font-size:18px;
        line-height:1.8;
        margin-top:15px;
    }
    .card-footer {
       font-size:15px;
       background: transparent!important;
        border-top:0;
        padding: 1rem 1.25rem;
        a {
            color:inherit;
            font-weight:700;
        }
    }
    .post-date {
    /*    float:right;*/
    /*    margin-top: 10px;*/
        align-items: center;
    }
    .img-thumb {
        object-fit:cover;
    /*    height:100%;*/
    /*    max-width: 480px!important; */
        object-position:top;
    }
}
.section-home {
  width: 100%;
  padding: 0 4%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  background: url('/assets/images/background/fondo-2.png')top center fixed; background-size: cover;
  }

.oval {
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: transparent;
     border-style: solid;
     border-width: medium;
     padding: 10px 10px;
     &:hover {
         background: #fff;
         color: #000;
         border-style: none;
     }
}

// blog grid
.blog-grid-container {
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
}
.blog-grid-item {
    padding: 0;
    display: flex;
    align-items:center;
    .author-thumb {
        width:40px!important;
        border-radius:10%;
        margin-right: 7px;
    }
    .card {
        background-color: transparent;
        flex-direction: row;
        border:0;
        &:hover {
           .card-title a {
                background-size: 100% 100%;
            }
        }
    }
    .card-body {
        background: transparent;
    }
    .card-title {
        font-weight:700;
        font-size:22px;
        line-height:1.4;
        a {
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .6s ease;
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        font-weight:400;
        font-size:18px;
        line-height:1.8;
        margin-top:15px;
    }
    .card-footer {
       font-size:15px;
       background: transparent!important;
        border-top:0;
        padding: 1rem 1.25rem;
        a {
            color:inherit;
            font-weight:700;
        }
    }
    .post-date {
        float:right;
        margin-top: 10px;
    }
    .img-thumb {
        object-fit:cover;
    /*    height:100%;*/
    /*    max-width: 480px!important; */
        object-position:top;
    }
}
.firstpage {
    .blog-grid-item:nth-child(1) {
/*        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3; */
        flex-direction: row;
        align-items: flex-start;
        font-size: 1em;
        padding:0;
        .card-title {
            font-size:28px;
        }
        .img-thumb {
            object-fit:cover;
            height:100%;
            width:100%;
            object-position:top;
        }
    }

/*    .blog-grid-item:nth-child(2), .blog-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            height:400px;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:2px;
            line-height:1.5;
        }
    }*/
}
.firstpage-home {
    .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column!important;
        align-items: flex-start;
        font-size: 1em;
        padding:0;
        .card-title {
            font-size:28px;
        }
        .img-thumb {
            object-fit:cover;
            height:400px;
            width:100%;
            object-position:top;
        }
    }

    .blog-grid-item:nth-child(2), .blog-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            height:160px;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:18px;
            line-height:1.5;
        }
    }
}

//pagination
.pagination {
    justify-content:center;
    a {
        background: rgba(0,0,0,0.05);
        color:#000;
        cursor:pointer;
        &:hover {
            background: $primary;
            text-decoration:none;
        }
    }
    a, span  {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
    span {
        border:0;
    }
}

//newsletter
.newsletter {
    h4 {
        line-height:1.3;
    }
    margin-top:120px;
    img.newsletter-logo {
        max-height:70px;
    }
    input {
        border:1px solid transparent;
    }
    .mc-field-group {
        border:1px solid;
        border-radius:2px;
        display:inline-block;
        input[type="email"] {
            padding:4px 10px;
            min-width:250px;
        }
        input[type="submit"] {
            color: #222;
            padding: 4px 20px;
            margin-left:-5px;
            background:$primary;
            border-left: 1px solid;
            font-weight:700;
        }
    }
    form {
        margin-top:30px;
    }
}

// blog
.article-post, .entry-header, .comments, .rating, .authorbox, .botonlink {
/*    max-width: 740px;*/
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

}

.posttitle {
    font-size:50px;
    font-weight:700;
    line-height:1.2;
}
.entry-featured-image {
    width:940px;
    max-width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}
.image-shadow {
    -webkit-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    -moz-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
}
.entry-header {
    .author-thumb {
        width:50px;
        border-radius:50%;
        margin-right:10px;
        border:2px solid darken($primary,20%);
        padding:2px;
    }
}
.authorbox {
    margin-top:50px;
    margin-bottom:50px;
    .author-description {
        font-size:16px;
    }
    .author-thumb {
        width:70px;
        border-radius:50%;
        border:2px solid darken($primary,20%);
        padding:2px;
    }
}
.article-post {
    font-size:18px;
    font-weight:600;
    p {
        margin-top:30px;
        margin-bottom:30px;
    }
    code {
        font-size: 15px;
        color: #94918d;
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size:15px;
        margin-bottom:30px;
        background: #fff;
        color:inherit;
    }
    div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
        margin-right:2px;
        margin-left:2px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    }
}

.c-rating button {
    cursor:none;
}

.spoiler {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: all .4s;
    cursor: pointer;
    position: relative;
    &:after {
        position: absolute;
        opacity: 0;
        content: 'Click to reveal spoiler';
        top: 45%;
        right: calc(50% - 75px);
        text-shadow: none;
        background: #222;
        color: #fff;
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: 2px 3px;
        width: 150px;
        font-family: Arial;
        text-align: center;
        border-radius: 3px;
        transition: all .4s;
    }
    &:hover:after {
        opacity: 1;
    }
}

.botonlink {
    margin-top:30px;
    margin-bottom:30px;
}
.comments {
    margin-top:30px;
    margin-bottom:60px;
    #comments {
        display:none;
        margin-top:60px;
        &.comments--show {
            display:block;
        }
    }
}
.related-posts {
    h2 {
    }
    margin-top:120px;
    .badge {
        font-size: 15px;
        padding:5px 7px;
        display:inline-block;
        margin: 0 3px;
    }
}

//share
.share {
    position:fixed;right:15px;bottom:40%;z-index: 1026;
    text-align:center;
    ul {
        list-style:none;
        padding-left:0;
        li {
            margin:15px 0;
            a {
                color:$dark;
            }
        }
    }
}

//search
.show-search {
    cursor:pointer;
    &:hover {
        color: darken($primary,20%);
    }
}
.bd-search {
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.5s linear;
    &.search--show {
        visibility: visible;
        opacity: 1;
        transition:opacity 0.5s linear;
    }
}
.wrap-search {
    position: fixed;
    right: 15px;
    bottom: 25px;
    z-index: 1026;
}
.modal-open .modal {
    background: rgba(0,0,0,0.3);
}
.lunrsearchresult {
    .title {
        color:#000;
        font-weight:700;
        line-height:1.2;
        display:block;
        font-size:20px;
        margin-bottom:5px;
        &:hover {
            color: darken($primary,20%);
        }
    }
    span.body {
        color: $gray-500;
        line-height:1.7;
        display:block;
        margin-bottom:10px;
    }
    a {
        &:hover {
            text-decoration:none;
        }
    }
    span.url {
         display:none;
    }
}
body.active-side {
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
}
//footer
.footer {
    margin-top:120px;
    padding:30px;
    border-top:1px solid $gray-200;
    font-size:15px;
    background:$black;
}

//responsive tweaks
@media (min-width: 768px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 95%;
        padding-right:80px;
    }
    .navbar-nav{
        font-size: 1.2rem;
    }
}
@media (min-width: 1440px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 95%;
        padding-right:80px;
    }

}
@media (max-width: 1024px) {
    .container {
        width: 95%;
        max-width:90%;
        padding-right:80px;
        padding-top: 30px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr;
    }
    .newsletter img.newsletter-logo {
        max-height: 50px;
        float: right;
    }

}
@media (max-width: 768px) {
    .logo-home{
        display:none;
    }
    .w-movil{
        width: 100px;
        display: flex !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .w-movil-b{
        width: 200px;
        display: flex !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .blog-grid-home {
        width: auto;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        text-align: center;
        font-family: Coeval,Arial,sans-serif;
    }

    .nav-icon {
        position: fixed;
        right: 15px;
        top: 15px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 30px;
        z-index: 1026;
        .hamburger-bar {
            width: 18px;
            height: 2px;
            position: absolute;
            top: 50%;
            right: 15%;
            transform: translate(-50%, -50%);
            border-radius: 1px;
            &:before, &:after {
                content: '';
                position: absolute;
                width: 18px;
                height: 2px;
                background: $soft;
                border-radius: 1px;

            }
            &:before {
                transform: rotate(0deg) translate(0px,-5px);
                background: $dark;
            }
            &:after {
                transform: rotate(0deg) translate(0px,5px);
                background: $dark;
            }
        }
        &.active {
            .hamburger-bar {
                &:before {
                    transform: rotate(-45deg) translate(0px,0px);
                    background: $soft;
                }
                &:after {
                    transform: rotate(45deg) translate(0px,0px);
                    background: $soft;
                }
            }
        }
    }

    .posttitle {
        font-size:35px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr ;
        .card{
            flex-direction: column;
        }
    }
    .logo img{
        height: 40px;
        display: inherit;
    }
    .iso img{
        display: none;
    }
    .nav-link {
        display: none;
    }
    .navbar {
        background: transparent;
        height: 80px;
    }
    .firstpage .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .blog-grid-item .img-thumb,
    .firstpage .blog-grid-item:nth-child(1) .img-thumb,
    .firstpage .blog-grid-item:nth-child(2) .img-thumb,
    .firstpage .blog-grid-item:nth-child(3) .img-thumb {
        height:auto;
        max-width: 100%;
    }

    .newsletter {
        span.h4 {
            font-size: 20px;
        }
        .mc-field-group input[type="email"] {
            padding: 4px 10px;
            min-width: 200px;
        }
        .mc-field-group input[type="submit"] {
            padding: 4px 10px;
        }
    }

}

@media (max-width: 600px) {
.w-movil{
    width: 100px;
}
.logo-home{
    display:none;
}
#osmiornica-biblioteca{
    display: none;
}
    .hand{
    position:absolute;
    margin: auto;
    top: 90%;
    }
    .oval{
    font-size: 0.8rem;
    }

    h1{
        font-size: 1.1rem;
    }
    .card-title{
        display:none;
    }
    .card-text{
        display:none;
    }
    .blog-grid-home {
        width: auto;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-gap: 20px;
        text-align: center;
        font-family: Coeval,Arial,sans-serif;
    }
    .blog-grid-item{
        .post-date{
            float:left;
        }
    }
    .show-search.h-dark{
        color: $soft !important;
    }

    .pulpo {
        max-width: 100%;
        position: relative;
        left: auto;
        right: auto;
    }
    .nav-icon {
        position: fixed;
        right: 15px;
        top: 15px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 30px;
        z-index: 1026;
        .hamburger-bar {
            width: 18px;
            height: 2px;
            position: absolute;
            top: 50%;
            right: 15%;
            transform: translate(-50%, -50%);
            border-radius: 1px;
            &:before, &:after {
                content: '';
                position: absolute;
                width: 18px;
                height: 2px;
            /*    background: $soft;*/
                border-radius: 1px;

            }
            &:before {
                transform: rotate(0deg) translate(0px,-5px);
                background: $dark;
            }
            &:after {
                transform: rotate(0deg) translate(0px,5px);
                background: $dark;
            }
        }
        &.active {
            .hamburger-bar {
                &:before {
                    transform: rotate(-45deg) translate(0px,0px);
                    background: $soft;
                }
                &:after {
                    transform: rotate(45deg) translate(0px,0px);
                    background: $soft;
                }
            }
        }
    }

    .nav-icon, .sidebar, .share, .wrap-search {
    /*    position:relative;*/
    /*background: none;*/
    }
    .container {
        padding-right:15px;
        padding-top: 90px;
    }
    .navbar {
        background: transparent;
        justify-content: flex-start !important;
        height: 80px;
    }
    .site-content {
        padding-top:0;
    }
    .blog-grid-item .card{
            flex-direction: column!important;
        }
/*    .sitetag{
        margin-top: 80px;
    } */
    .blog-grid-item .img-thumb,
    .firstpage .blog-grid-item:nth-child(1) .img-thumb,
    .firstpage .blog-grid-item:nth-child(2) .img-thumb,
    .firstpage .blog-grid-item:nth-child(3) .img-thumb {
        height:auto;
        width: 100%!important;
    }
    .logo img{
        height: 40px;
        display: inherit;
    }
    .iso img{
        display: none;
    }

    .share {
        display: flex;
        align-items:center;
        position: relative;
    }
    .share ul li {
        display:inline-block;
        margin: 10px 15px !important;
    }
    .img-thumb {
        width: 100%;
    }
    #menu ul {
/*        padding: 80px 30px 80px 30px;*/
    }
    .related-posts {
        h2 {
            font-size: 1.2rem;
        }
    }
}


@media (max-width: 480px) {

    .hand{
        position:absolute;
        margin: auto;
        top: 90%;
    }
    .oval{
    font-size: 0.8rem;
    }

    .grid-home {
        display: grid;
    }
img{
    max-width: 100%;
}
    .newsletter {
        .mc-field-group input[type="email"] {
            min-width:170px;
            width: 170px;
        }
    }
    .nav-link {
        display: none;
    }
    .navbar {
        background: transparent;
        justify-content: flex-start !important;
    }
    .article-post, .entry-header, .comments, .rating, .authorbox {
        padding-left:0;
        padding-right:0;
    }
    blockquote {
        margin-left:15px;
        font-size:18px;
    }
    .article-post {
        font-size:15px;
    }
    .logo img{
        height: 40px;
        display: inherit;
    }
    .iso img{
        display: none;
    }
    .img-thumb {
        width: 100%;
    }
    .wrap-search {
        .fa-search {
            display:visible;
        }
        .form-control {
            height:35px;
        }
    }
}
