---
layout: default
title: Eventos
comments: false
imageshadow: true
background: /assets/images/background/fondo-2.png
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script
  type="text/javascript"
  src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"
></script>
<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css"
/>
<script
  type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"
></script>

<style type="text/css">
  .content {
    min-width: 800px;
  }
  #calendar {
    width: 1200px;
  }
  .subdomain-text {
    fill: #000;
  }
  #calendar a {
    color: #EFA37E;
  }
  @media all and (max-width: 1400px) {
    #calendar {
      width: 850px;
    }
  }
  @media all and (max-width: 730px) {
    #calendar {
      width: 365px;
    }
  }
  @media all and (max-width: 420px) {
    #calendar {
      width: 191px;
    }
  }
</style>

<h1 class="soft mb-4">Eventos de la biblioteca</h1>
<section>
    <div class="owl-carousel owl-theme">
    {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% if postStartDate >= curDate and post.categories contains "evento" %}
              {% include postbox-carousel.html %}
    {% endif %}
        {% endfor %}
        </div>
</section>
<h1 class="soft mb-4" >talleres en curso</h1>
<section>
    <div class="blog-grid-container">
    {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
    {% assign postStartDate = post.date | date: '%s' %}
    {% assign postEndDate = post.end | date: '%s' %}
    {% if postStartDate <= curDate and post.categories contains "evento" %}
    {% unless postEndDate <= curDate %}
              {% include postbox-carousel.html %}
    {% endunless %}
    {% endif %}
        {% endfor %}
        </div>
</section>

<h1 class="soft mb-4" >Talleres que pasaron</h1>
<section>
    <div class="blog-grid-container img-gray">
    {% assign curDate = site.time | date: '%s' %}
        {% for post in site.posts %}
    {% assign postStartDate = post.end | date: '%s' %}
    {% if postStartDate <= curDate and post.categories contains "evento" %}
              {% include postbox-carousel.html %}
    {% endif %}
        {% endfor %}
        </div>
</section>

<div id="calendar" style="margin:0 auto;">
  <div id="cal-heatmap"></div>
  <div style="padding-top: 10px;">
    <a
      href="#"
      style="margin-right:10px;"
      id="cal-heatmap-PreviousDomain-selector"
      ><i class="fa fa-chevron-left"></i
    ></a>
    <a href="#" style="float:right;" id="cal-heatmap-NextDomain-selector"
      ><i class="fa fa-chevron-right"></i
    ></a>
  </div>
</div>

<!-- Pagination
==================================================-->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
<script type="text/javascript">

var data = {% assign counter = 0 %}{
{% for post in site.posts %}{% capture day %}{{ post.date | date: '%s' }}{% endcapture %}{% capture prevday %}{{ post.previous.date | date: '%s' }}{% endcapture %}{% assign counter = counter | plus: 1 %}{% if day != prevday %}"{{ post.date | date: '%s' }}": {{ counter }}{% assign counter = 0 %}{% if forloop.last == false %},{% endif %}
{% endif %}{% endfor %}};


var responsiveCal = function( options ) {
	var now = new Date();
    if( $(window).width() < 420 ) {
        options.start = now.setMonth(now.getMonth());
        options.range = 1;
        options.cellSize = 25;
    } else if ( $(window).width() < 730 ) {
        options.start = now.setMonth(now.getMonth() - 1);
        options.range = 2;
        options.cellSize = 20;
    } else if( $(window).width() < 1400 ) {
        options.start = now.setMonth(now.getMonth() - 2);
        options.range = 3;
        options.cellSize = 23;
    } else {
        options.start = now.setMonth(now.getMonth() - 3);
        options.range = 4;
        options.cellSize = 23;
    }

    if( typeof cal === "object" ) {
        $('#cal-heatmap').html('');
        cal = cal.destroy();
    }
    cal = new CalHeatMap();
    cal.init( options );

}
caloptions = {
    itemSelector: "#cal-heatmap",
	domain: "month",
	subDomain: "x_day",
	data: data,
	dataType: "json",
	cellPadding: 8,
    cellSize: 80,
	domainGutter: 20,
	displayLegend: false,
	range: 4,
	considerMissingDataAsZero:false,
	domainDynamicDimension: true,
	previousSelector: "#cal-heatmap-PreviousDomain-selector",
	nextSelector: "#cal-heatmap-NextDomain-selector",
	domainLabelFormat: function(date) {
		moment.locale("en");
		return moment(date).format("MMMM").toUpperCase();
	},
	subDomainTextFormat: "%d",
	legend: [0,1,2,3],
	label: {
		position: "top"
	}
};


// run first time, put in load if your scripts are in footer
responsiveCal( caloptions );

$(window).resize(function() {
    if(this.resizeTO) clearTimeout(this.resizeTO);
    this.resizeTO = setTimeout(function() {
        $(this).trigger('resizeEnd');
    }, 500);
});

//resize on resizeEnd function
$(window).bind('resizeEnd', function() {
	 responsiveCal( cal.options );
});
</script>
