---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->

<h1>Archive of posts with <span>{{ page.type }} '{{ page.title }}'</span></h1>

<div class="blog-grid-container">

{% for post in page.posts %}

{% include postbox-dark.html %}

{% endfor %}

</div>
