---
layout: default
background: /assets/images/background/fondo-1.png
---
<div class="row">
    <div class="col-md-10">
        {% include article.html %}
    </div>
    <div class="col-md-2">
        <div id="padre" class="w-movil-b">
            <img class="biblioteca" id="botonestrella h-100" src="{{ site.baseurl }}/assets/images/boton-n.png">
        <div class="btn-estrella"><a class="soft" href="{{ site.baseurl }}/autogestion">Autogestión</a></div>
        </div>
        <div id="padre" class="w-movil-b ">
            <img class="biblioteca" id="botonestrella h-100" src="{{ site.baseurl }}/assets/images/boton-n.png">
        <div class="btn-estrella"><a class="soft" href="{{ site.baseurl }}/contacto">Inscripción</a></div>
        </div>
    </div>
</div>



<!-- Featured Image -->
{% include featured-image.html %}
