<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ site.url }}/favicon.ico">
<title>{{ page.title }} | {{site.name}}</title>
{% seo %}
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/prism.js"></script>
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>
{% include css.html %}
</head>
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body style="background: url('{{ page.background }}') top center fixed; background-size: cover; !important;">
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Sen:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>
{% include nav.html nav=site.data.nav %}
<div class="sidebar">
</div>
	{% if page.background == '/assets/images/background/fondo-2.png' %}
<div class="nav-icon n-soft">
	{% else%}
<div class="nav-icon">
    {% endif %}
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav " class="blackover"></div>
<nav id="menu">
    <ul>
        <h3><a href="{{ site.baseurl }}">Osmiornica</a></h3>
        <li><a href="{{ site.baseurl }}/biblioteca">La biblioteca</a></li>
        <li><a href="{{ site.baseurl }}/novedades">Novedades</a></li>
        <li><a href="{{ site.baseurl }}/talleres">Talleres</a></li>
        <li><a href="{{ site.baseurl }}/eventos">Eventos</a></li>
        <li><a href="{{ site.baseurl }}/catalogo">Catálogo</a></li>
        <li><a href="{{ site.baseurl }}/contacto">Contacto</a></li>
    </ul>
</nav>
{% include search-lunr.html %}
	<div class="site-content {% if page.url == '/' %} firstpage {% endif %}">
	  <div class="container">
	    <div class="main-content vh-100">
	        {{ content }}
	    </div>
	  </div>
	  {% if page.url == '/' %} {% include grid-home.html %} {% endif %}
      </div>
</div>
{% include script.html %}
</body>
</html>
